# INFO: Clang format customization

BreakBeforeBraces: Custom
PointerAlignment: Middle
QualifierAlignment: Right
BraceWrapping:
  AfterClass:              true
  AfterControlStatement:   true
  AfterEnum:               true
  AfterFunction:           true
  AfterNamespace:          true
  AfterObjCDeclaration:    true
  AfterStruct:             true
  AfterUnion:              true
  BeforeCatch:             true
  BeforeElse:              false
  IndentBraces:            false

